* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  margin: 0 auto;
}

<<<<<<< HEAD

=======
.container {
  width: 1300px;
}
>>>>>>> df076abc707f55d1d85ba9dc6dac6d1280b8cbb5
#notRegged {
  display: none;
}

.logined {
  display: inline-block;
  float: right;
  position: absolute;
  top: 15px;
  right: 10px;
  font-weight: bold;
}
